@{
    
}
<div class="alert alert-info">
    <p>Ödeme başarıyla tamamlandı</p>
    <p>Ödeme no: @ViewBag.orderId</p>
</div>
<a class="btn btn-info" asp-area="" asp-controller="Home" asp-action="Index">Ana Sayfa</a>